calculator_prj/.vs/
calculator_prj/calculator_prj/x64/Debug/calculator_prj.Build.CppClean.log
calculator_prj/calculator_prj/x64/Debug/calculator_prj.exe.recipe
calculator_prj/calculator_prj/x64/Debug/calculator_prj.ilk
calculator_prj/calculator_prj/x64/Debug/calculator_prj.log
calculator_prj/calculator_prj/x64/Debug/calculator_prj.vcxproj.FileListAbsolute.txt
calculator_prj/calculator_prj/x64/Debug/main.obj
calculator_prj/calculator_prj/x64/Debug/operation.obj
calculator_prj/calculator_prj/x64/Debug/vc143.idb
calculator_prj/calculator_prj/x64/Debug/vc143.pdb
calculator_prj/calculator_prj/x64/Debug/vcpkg.applocal.log
calculator_prj/calculator_prj/x64/Debug/calculator_prj.tlog/calculator_prj.lastbuildstate
calculator_prj/calculator_prj/x64/Debug/calculator_prj.tlog/CL.command.1.tlog
calculator_prj/calculator_prj/x64/Debug/calculator_prj.tlog/Cl.items.tlog
calculator_prj/calculator_prj/x64/Debug/calculator_prj.tlog/CL.read.1.tlog
calculator_prj/calculator_prj/x64/Debug/calculator_prj.tlog/CL.write.1.tlog
calculator_prj/calculator_prj/x64/Debug/calculator_prj.tlog/link.command.1.tlog
calculator_prj/calculator_prj/x64/Debug/calculator_prj.tlog/link.read.1.tlog
calculator_prj/calculator_prj/x64/Debug/calculator_prj.tlog/link.write.1.tlog
calculator_prj/x64/Debug/calculator_prj.pdb
